In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import textwrap

In [2]:
raw_data = pd.read_excel('../data/sleep_data.xlsx')
raw_data.rename(columns={'신장':'height', '체중':'weight'}, inplace=True)
raw_data.columns = raw_data.columns.str.replace(' \n', ' ')
raw_data.columns = raw_data.columns.str.replace('\n', ' ')
raw_data.head()

/var/folders/l6/j5nwgjg11zqbq0y11b2myyb00000gn/T/ipykernel_42534/429401758.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  raw_data = pd.read_excel('../data/sleep_data.xlsx')

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

In [3]:
data = raw_data.copy()
data.drop(['PSG_date', 'PSG_ID', 'birth'], axis=1, inplace=True)
data.head()

,ID,sex,age,Final Diagnosis,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,sleep talking,0,0,0,0,0,0,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,RLS/OSA,1,0,1,0,0,0,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,OSA,1,0,0,0,0,0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,OSA/PPI,1,1,0,0,0,0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,OSA,1,0,0,0,0,0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

In [4]:
# object type으로 만드는 record 찾기
data[data['Lateral Apnea Index(/h)'].apply(lambda x: isinstance(x, str))]

,ID,sex,age,Final Diagnosis,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
5076,5077,1,62,OSA,1,0,0,0,0,0,...,81.0,40.8,18.1,0.0,11.0,0.0,0.0,0.0,0.0,0.0

In [5]:
data.drop([5076], inplace=True)
data.reset_index(drop=True, inplace=True)
data[data['Lateral Apnea Index(/h)'].apply(lambda x: isinstance(x, str))]

Empty DataFrame
Columns: [ID, sex, age, Final Diagnosis, OSA, insomnia, PLMD, RLS, parasomnia, circadian rhythm sleep-wake disorder, Narcolepsy, EDS, Hypersomnia, Catathrenia, control, height, weight, BMI, Time in Bed(min), Total sleep time(min), Sleep latency(min), N2 sleep latency(min), REM sleep latency(min), WASO(min), WASO(%), NON REM/TST(%), N1/TST(%), N2/TST(%), N3/TST(%), REM/TST(%), Total Arousal #, Total Aroual index(/h), Respriratory Arousal #, Respiratory Aroual index(/h), Snore Arousal #, Snore Aroual index(/h), RERA Arousal #, RERA index(/h), Spontaneous Arousal #, Spontaneous Aroual index(/h), Movement Arousal #, Movement Aroual index(/h), REM Arousal index(h), NREM Arousal index(h), sleep efficiency(%), Sleep time on Back(%), Supine Arousal index(h), Lateral Arousal index(h), Central apnea #, Mixed _apnea #, Obstructive apnea #, Total_ apnea #, Total_Apnea_ Index(/h), Supine_Apnea_ Index(/h), Lateral Apnea Index(/h), Total_ Hypopnea#, Total Hypopnea Index(h), Supine_ Hypopnea_index(/h), Lateral_ Hypopnea_index(/h), Total A+H #, Total A+H Index(/h), SUPINE A+H Index(/h), Lateral A+H Index(/h), REM A+H Index(/h), NREM A+H Index(/h), Total- RERA#, Total RERA Index(/h), SUPINE RERA_Index(/h), Lateral RERA_Index(/h), Total- A+H+RERA#, Total_A+H+RERA_ Index(/h), Supine0 A+H+RERA_Index(h), Lateral A+H+RERA_ Index(h), REM A+H+RERA Index(/h), NREM A+H+RERA Index(/h), Apnea_Max_ Length(sec), Hypopnea_Max_ Length(sec), Resp. Arousal /(A+H)(%), Baseline waking SaO2, Baseline sleep SaO2, Lowest SaO2 (%), ODI, 90%ODI, EtCO2 (>50mmHg), Total LMI =PLMI(/h), Total LM Arousal#, Total LM AI(/h), PLM Arousal#, PLM AI(/h), MAI(/h)]
Index: []

[0 rows x 87 columns]

In [6]:
data['Lateral Apnea Index(/h)'] = data['Lateral Apnea Index(/h)'].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5480 entries, 0 to 5479
Data columns (total 87 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   ID                                    5480 non-null   int64
 1   sex                                   5480 non-null   int64
 2   age                                   5480 non-null   int64
 3   Final Diagnosis                       5480 non-null   object
 4   OSA                                   5480 non-null   int64
 5   insomnia                              5480 non-null   int64
 6   PLMD, RLS                             5480 non-null   int64
 7   parasomnia                            5480 non-null   int64
 8   circadian rhythm sleep-wake disorder  5480 non-null   int64
 9   Narcolepsy, EDS, Hypersomnia          5480 non-null   int64
 10  Catathrenia                           5480 non-null   int64
 11  control                               5480 non-null   int64
 12  height                                5480 non-null   float64
 13  weight                                5480 non-null   float64
 14  BMI                                   5480 non-null   float64
 15  Time in Bed(min)                      5480 non-null   float64
 16  Total sleep time(min)                 5480 non-null   float64
 17  Sleep latency(min)                    5480 non-null   float64
 18  N2 sleep latency(min)                 5479 non-null   float64
 19  REM sleep latency(min)                5480 non-null   float64
 20  WASO(min)                             5479 non-null   float64
 21  WASO(%)                               5479 non-null   float64
 22  NON REM/TST(%)                        5480 non-null   float64
 23  N1/TST(%)                             5480 non-null   float64
 24  N2/TST(%)                             5480 non-null   float64
 25  N3/TST(%)                             5480 non-null   float64
 26  REM/TST(%)                            5480 non-null   float64
 27  Total Arousal #                       5480 non-null   float64
 28  Total Aroual index(/h)                5480 non-null   float64
 29  Respriratory Arousal #                5480 non-null   float64
 30  Respiratory Aroual index(/h)          5480 non-null   float64
 31  Snore Arousal #                       5480 non-null   float64
 32  Snore Aroual index(/h)                5480 non-null   float64
 33  RERA Arousal #                        5480 non-null   int64
 34  RERA index(/h)                        5480 non-null   float64
 35  Spontaneous Arousal #                 5445 non-null   float64
 36  Spontaneous Aroual index(/h)          5480 non-null   float64
 37  Movement Arousal #                    5472 non-null   float64
 38  Movement Aroual index(/h)             5480 non-null   float64
 39  REM Arousal index(h)                  5480 non-null   float64
 40  NREM Arousal index(h)                 5480 non-null   float64
 41  sleep efficiency(%)                   5480 non-null   float64
 42  Sleep time on Back(%)                 5480 non-null   float64
 43  Supine Arousal index(h)               5480 non-null   float64
 44  Lateral Arousal index(h)              5480 non-null   float64
 45  Central apnea #                       5480 non-null   int64
 46  Mixed _apnea #                        5480 non-null   int64
 47  Obstructive apnea #                   5480 non-null   int64
 48  Total_ apnea #                        5477 non-null   float64
 49  Total_Apnea_ Index(/h)                5480 non-null   float64
 50  Supine_Apnea_ Index(/h)               5480 non-null   float64
 51  Lateral Apnea Index(/h)               5480 non-null   float64
 52  Total_ Hypopnea#                      5477 non-null   float64
 53  Total Hypopnea Index(h)               5480 non-null   float64
 54  Supine_ Hypopnea_index(/h)            5480 non-null   float64
 55  Lateral_ Hypopnea_index(/h)           5480 non-null   float64
 56  Total A+H #                           5480 non-null   int64
 57  Total A+H Index(/h)                   5480 non-null   float64
 58  SUPINE A+H Index(/h)                  5480 non-null   float64
 59  Lateral A+H Index(/h)                 5480 non-null   float64
 60  REM A+H Index(/h)                     5480 non-null   float64
 61  NREM A+H Index(/h)                    5480 non-null   float64
 62  Total- RERA#                          5480 non-null   float64
 63  Total RERA Index(/h)                  5480 non-null   float64
 64  SUPINE RERA_Index(/h)                 5480 non-null   float64
 65  Lateral RERA_Index(/h)                5480 non-null   float64
 66  Total- A+H+RERA#                      5480 non-null   float64
 67  Total_A+H+RERA_ Index(/h)             5480 non-null   float64
 68  Supine0 A+H+RERA_Index(h)             5480 non-null   float64
 69  Lateral A+H+RERA_ Index(h)            5480 non-null   float64
 70  REM A+H+RERA Index(/h)                5480 non-null   float64
 71  NREM A+H+RERA Index(/h)               5480 non-null   float64
 72  Apnea_Max_ Length(sec)                5480 non-null   float64
 73  Hypopnea_Max_ Length(sec)             5480 non-null   float64
 74  Resp. Arousal /(A+H)(%)               5480 non-null   float64
 75  Baseline waking SaO2                  5458 non-null   float64
 76  Baseline sleep SaO2                   5458 non-null   float64
 77  Lowest SaO2 (%)                       5445 non-null   float64
 78  ODI                                   5480 non-null   float64
 79  90%ODI                                5480 non-null   float64
 80  EtCO2 (>50mmHg)                       5480 non-null   float64
 81  Total LMI =PLMI(/h)                   5344 non-null   float64
 82  Total LM Arousal#                     5273 non-null   float64
 83  Total LM AI(/h)                       5273 non-null   float64
 84  PLM Arousal#                          5272 non-null   float64
 85  PLM AI(/h)                            5272 non-null   float64
 86  MAI(/h)                               5273 non-null   float64
dtypes: float64(70), int64(16), object(1)
memory usage: 3.6+ MB

In [7]:
data.to_csv('../data/sleep_data.csv', index=False)
# data_csv = pd.read_csv('../data/sleep_data.csv')
# data_csv.head()

,ID,sex,age,Final Diagnosis,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,sleep talking,0,0,0,0,0,0,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,RLS/OSA,1,0,1,0,0,0,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,OSA,1,0,0,0,0,0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,OSA/PPI,1,1,0,0,0,0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,OSA,1,0,0,0,0,0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

# OSA train/test

In [38]:
data = pd.read_csv('../data/sleep_data.csv')
data.head()

,ID,sex,age,Final Diagnosis,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,sleep talking,0,0,0,0,0,0,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,RLS/OSA,1,0,1,0,0,0,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,OSA,1,0,0,0,0,0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,OSA/PPI,1,1,0,0,0,0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,OSA,1,0,0,0,0,0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

In [39]:
# 분류된 집단에 속하지 않으며 수면장애 없음으로 분류되지도 않은 record 걸러내기
all_zeros = data.loc[(data['OSA'] == 0) & (data['insomnia'] == 0) & (data['PLMD, RLS'] == 0) & (data['parasomnia'] == 0) & (data['circadian rhythm sleep-wake disorder'] == 0) & (data['Narcolepsy, EDS, Hypersomnia'] == 0) & (data['Catathrenia'] == 0) & (data['control'] == 0)].index
len(all_zeros)

35

In [40]:
data.drop(data.iloc[all_zeros, :].index, axis=0, inplace=True)

In [41]:
all_zeros = data.loc[(data['OSA'] == 0) & (data['insomnia'] == 0) & (data['PLMD, RLS'] == 0) & (data['parasomnia'] == 0) & (data['circadian rhythm sleep-wake disorder'] == 0) & (data['Narcolepsy, EDS, Hypersomnia'] == 0) & (data['Catathrenia'] == 0) & (data['control'] == 0)].index
len(all_zeros)

0

In [42]:
# 진단은 OSA, control만 남겨두고 그 외 전부 drop
data.drop(['Final Diagnosis'] + data.iloc[:, 5:11].columns.values.tolist(), axis=1, inplace=True)
data.head()

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,0,1,167.0,60.0,21.51,376.5,276.5,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,1,0,166.0,53.0,19.23,513.1,248.0,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,1,0,174.0,74.0,24.44,479.0,421.0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,1,0,163.0,63.5,23.90,464.0,343.0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,1,0,150.0,61.0,27.11,464.5,417.0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

## OSA only

In [9]:
osa_data = data.drop('control', axis=1)
osa_data.head()

,ID,sex,age,OSA,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,0,167.0,60.0,21.51,376.5,276.5,31.0,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,1,166.0,53.0,19.23,513.1,248.0,107.5,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,1,174.0,74.0,24.44,479.0,421.0,8.5,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,1,163.0,63.5,23.90,464.0,343.0,14.0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,1,150.0,61.0,27.11,464.5,417.0,1.5,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

In [10]:
# OSA 이상치 확인
osa_data.loc[(osa_data['OSA'] != 0) & (osa_data['OSA'] != 1)]

,ID,sex,age,OSA,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
3570,3571,0,52,999,999.0,999.0,999.0,408.1,359.0,8.6,...,78.0,23.4,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
osa_data.drop(osa_data.loc[(osa_data['OSA'] != 0) & (osa_data['OSA'] != 1)].index, axis=0, inplace=True)
osa_data.loc[(osa_data['OSA'] != 0) & (osa_data['OSA'] != 1)]

Empty DataFrame
Columns: [ID, sex, age, OSA, height, weight, BMI, Time in Bed(min), Total sleep time(min), Sleep latency(min), N2 sleep latency(min), REM sleep latency(min), WASO(min), WASO(%), NON REM/TST(%), N1/TST(%), N2/TST(%), N3/TST(%), REM/TST(%), Total Arousal #, Total Aroual index(/h), Respriratory Arousal #, Respiratory Aroual index(/h), Snore Arousal #, Snore Aroual index(/h), RERA Arousal #, RERA index(/h), Spontaneous Arousal #, Spontaneous Aroual index(/h), Movement Arousal #, Movement Aroual index(/h), REM Arousal index(h), NREM Arousal index(h), sleep efficiency(%), Sleep time on Back(%), Supine Arousal index(h), Lateral Arousal index(h), Central apnea #, Mixed _apnea #, Obstructive apnea #, Total_ apnea #, Total_Apnea_ Index(/h), Supine_Apnea_ Index(/h), Lateral Apnea Index(/h), Total_ Hypopnea#, Total Hypopnea Index(h), Supine_ Hypopnea_index(/h), Lateral_ Hypopnea_index(/h), Total A+H #, Total A+H Index(/h), SUPINE A+H Index(/h), Lateral A+H Index(/h), REM A+H Index(/h), NREM A+H Index(/h), Total- RERA#, Total RERA Index(/h), SUPINE RERA_Index(/h), Lateral RERA_Index(/h), Total- A+H+RERA#, Total_A+H+RERA_ Index(/h), Supine0 A+H+RERA_Index(h), Lateral A+H+RERA_ Index(h), REM A+H+RERA Index(/h), NREM A+H+RERA Index(/h), Apnea_Max_ Length(sec), Hypopnea_Max_ Length(sec), Resp. Arousal /(A+H)(%), Baseline waking SaO2, Baseline sleep SaO2, Lowest SaO2 (%), ODI, 90%ODI, EtCO2 (>50mmHg), Total LMI =PLMI(/h), Total LM Arousal#, Total LM AI(/h), PLM Arousal#, PLM AI(/h), MAI(/h)]
Index: []

[0 rows x 79 columns]

In [12]:
# 신체 정보 이상치 확인
osa_na_data = osa_data.loc[(osa_data['sex'] == 999) | (osa_data['age'] == 999) | (osa_data['height'] == 999) | (osa_data['weight'] == 999) | (osa_data['BMI'] == 999)]
osa_na_data

,ID,sex,age,OSA,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
412,413,1,65,1,100.0,999.0,999.0,378.5,307.5,4.0,...,86.0,11.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1171,1172,0,53,1,173.0,54.0,999.0,429.5,351.5,11.0,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1508,1509,1,55,0,162.0,999.0,999.0,470.5,252.5,42.5,...,92.0,1.0,0.0,0.0,22.3,4.0,1.0,3.0,0.7,1.7
1945,1946,0,55,1,999.0,999.0,999.0,356.0,328.0,1.0,...,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2414,2415,0,69,1,999.0,999.0,999.0,455.0,298.0,5.5,...,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,2892,0,68,1,161.0,59.0,999.0,476.5,371.0,21.1,...,84.0,21.5,2.5,0.0,23.0,7.0,1.1,11.0,1.8,2.9
3977,3978,0,21,1,999.0,999.0,999.0,485.5,402.0,2.0,...,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4124,4125,0,68,1,999.0,999.0,999.0,426.0,330.0,1.0,...,80.0,24.7,10.7,0.0,18.0,8.0,1.5,14.0,2.5,4.0
4896,4897,0,48,1,166.0,999.0,999.0,369.0,340.0,5.5,...,86.0,12.5,0.2,0.0,4.1,2.0,0.4,4.0,0.7,1.1
4913,4914,0,64,1,164.0,67.0,999.0,476.0,427.5,3.5,...,72.0,0.0,0.0,0.0,32.3,NaN,NaN,NaN,NaN,NaN

In [13]:
osa_data.drop(osa_na_data.index, inplace=True)

In [14]:
numerical_osa_data = osa_data.drop('OSA', axis=1)
numerical_osa_data.describe()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
count,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5433.000000,...,5399.000000,5434.000000,5434.000000,5434.000000,5304.000000,5234.000000,5234.000000,5233.000000,5233.000000,5234.000000
mean,2741.785793,0.289290,50.849466,167.407840,71.994774,25.545745,431.505502,355.431634,12.155870,7.429137,...,84.506946,17.982057,6.487413,0.018955,10.511878,1.708254,0.294106,3.955284,0.696914,0.996828
std,1579.979557,0.453474,14.874485,8.795353,14.835601,4.119163,52.742871,66.753848,19.041692,14.070709,...,8.151987,21.881901,15.523981,0.862383,21.078961,4.079506,0.704143,12.609001,2.230413,2.599735
min,1.000000,0.000000,7.000000,123.000000,30.000000,12.400000,96.900000,46.500000,0.000000,0.000000,...,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1375.250000,0.000000,40.000000,162.000000,62.000000,22.910000,403.000000,318.000000,3.000000,1.000000,...,81.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2744.500000,0.000000,53.000000,168.000000,71.000000,25.100000,436.000000,362.000000,6.500000,3.500000,...,86.000000,9.400000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4106.750000,1.000000,62.000000,174.000000,80.000000,27.600000,467.000000,402.500000,13.000000,7.500000,...,90.000000,27.700000,4.600000,0.000000,12.400000,2.000000,0.300000,1.000000,0.200000,0.700000
max,5481.000000,1.000000,91.000000,198.000000,181.000000,57.020000,642.000000,537.500000,303.000000,224.000000,...,99.000000,141.900000,169.400000,44.500000,187.300000,129.000000,21.500000,218.000000,37.500000,38.800000

In [15]:
# 결측치 확인
osa_na_columns = osa_data.isna().sum()
osa_na_columns = osa_na_columns[osa_na_columns > 0]
osa_na_columns

N2 sleep latency(min)      1
WASO(min)                  1
WASO(%)                    1
Spontaneous Arousal #     34
Movement Arousal #         8
Total_ apnea #             3
Total_ Hypopnea#           3
Baseline waking SaO2      22
Baseline sleep SaO2       22
Lowest SaO2 (%)           35
Total LMI =PLMI(/h)      130
Total LM Arousal#        200
Total LM AI(/h)          200
PLM Arousal#             201
PLM AI(/h)               201
MAI(/h)                  200
dtype: int64

### 결측치를 포함하는 record drop

In [16]:
osa_data_a = osa_data.dropna(axis=0, how="any")

In [17]:
del osa_na_columns

osa_na_columns = osa_data_a.isna().sum()
osa_na_columns = osa_na_columns[osa_na_columns > 0]
osa_na_columns

Series([], dtype: int64)

In [18]:
osa_data_a.shape

(5152, 79)

In [22]:
osa_data_a.to_csv('../data/osa_data_a.csv', index=False)

osa_data_a_csv = pd.read_csv('../data/osa_data_a.csv')
osa_data_a_csv.head()

,ID,sex,age,OSA,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,5,1,55,1,150.0,61.0,27.11,464.5,417.0,1.5,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3
1,6,0,48,1,174.0,70.0,23.12,490.0,423.0,7.0,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,55,1,168.0,69.0,24.45,370.0,324.0,4.0,...,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,1,50,1,157.0,59.0,23.94,450.5,360.5,13.0,...,83.0,0.0,0.0,0.0,46.8,0.0,0.0,0.0,0.0,0.0
4,9,0,57,1,175.0,92.0,30.04,481.5,370.0,3.5,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 결측치를 포함하는 feature drop

In [19]:
osa_data_b = osa_data.dropna(axis=1, how="any")

In [20]:
del osa_na_columns

osa_na_columns = osa_data_a.isna().sum()
osa_na_columns = osa_na_columns[osa_na_columns > 0]
osa_na_columns

Series([], dtype: int64)

In [21]:
osa_data_b.shape

(5434, 63)

In [23]:
osa_data_b.to_csv('../data/osa_data_b.csv', index=False)

osa_data_b_csv = pd.read_csv('../data/osa_data_b.csv')
osa_data_b_csv.head()

,ID,sex,age,OSA,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Supine0 A+H+RERA_Index(h),Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg)
0,1,1,52,0,167.0,60.0,21.51,376.5,276.5,31.0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,0,65,1,166.0,53.0,19.23,513.1,248.0,107.5,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,0,53,1,174.0,74.0,24.44,479.0,421.0,8.5,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,0,53,1,163.0,63.5,23.90,464.0,343.0,14.0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,1,55,1,150.0,61.0,27.11,464.5,417.0,1.5,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

### train/test split

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
data = osa_data_a_csv.drop(['OSA'], axis=1)
target = osa_data_a_csv['OSA']

# 불균형으로 인해 stratify 불가
x_train_a, x_test_a, y_train_a, y_test_a = train_test_split(data, target, test_size=0.2, random_state=42)

In [26]:
osa_train_a = pd.concat([x_train_a, y_train_a], axis=1)
osa_train_a.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
2025,2170,0,38,173.0,88.0,29.4,448.9,434.5,5.5,4.0,...,62.6,47.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3319,3539,1,54,156.0,49.0,20.1,476.0,426.0,3.0,2.5,...,2.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99,108,0,62,164.0,67.0,24.9,435.5,351.0,3.5,1.0,...,7.4,0.3,0.0,16.8,9.0,1.5,0.0,0.0,1.5,1
2957,3149,0,33,175.0,106.0,34.6,404.5,374.5,7.0,3.5,...,19.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4581,4893,0,56,164.0,72.0,26.8,359.5,236.5,12.5,11.0,...,70.5,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [31]:
osa_train_a.to_csv('../data/osa_train_a.csv', index=False)

osa_train_a_csv = pd.read_csv('../data/osa_train_a.csv')
osa_train_a_csv.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
0,2170,0,38,173.0,88.0,29.4,448.9,434.5,5.5,4.0,...,62.6,47.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,3539,1,54,156.0,49.0,20.1,476.0,426.0,3.0,2.5,...,2.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,108,0,62,164.0,67.0,24.9,435.5,351.0,3.5,1.0,...,7.4,0.3,0.0,16.8,9.0,1.5,0.0,0.0,1.5,1
3,3149,0,33,175.0,106.0,34.6,404.5,374.5,7.0,3.5,...,19.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4893,0,56,164.0,72.0,26.8,359.5,236.5,12.5,11.0,...,70.5,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [28]:
osa_test_a = pd.concat([x_test_a, y_test_a], axis=1)
osa_test_a.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
1879,2021,1,47,164.0,55.0,20.4,362.0,343.0,5.5,2.0,...,7.5,1.0,0.0,11.4,5.0,0.9,5.0,0.9,1.8,1
1417,1506,0,64,175.0,75.0,24.5,395.0,342.0,5.0,4.5,...,9.5,0.4,0.0,0.4,2.0,0.4,0.0,0.0,0.4,0
2968,3160,0,34,170.0,79.0,27.3,415.0,363.5,7.5,20.5,...,5.3,0.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1020,1092,0,66,167.0,68.0,24.4,318.0,104.0,21.0,6.5,...,67.5,31.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4724,5043,0,60,169.0,67.0,23.5,383.0,310.0,6.5,4.0,...,31.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [30]:
osa_test_a.to_csv('../data/osa_test_a.csv', index=False)

osa_test_a_csv = pd.read_csv('../data/osa_test_a.csv')
osa_test_a_csv.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
0,2021,1,47,164.0,55.0,20.4,362.0,343.0,5.5,2.0,...,7.5,1.0,0.0,11.4,5.0,0.9,5.0,0.9,1.8,1
1,1506,0,64,175.0,75.0,24.5,395.0,342.0,5.0,4.5,...,9.5,0.4,0.0,0.4,2.0,0.4,0.0,0.0,0.4,0
2,3160,0,34,170.0,79.0,27.3,415.0,363.5,7.5,20.5,...,5.3,0.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,1092,0,66,167.0,68.0,24.4,318.0,104.0,21.0,6.5,...,67.5,31.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,5043,0,60,169.0,67.0,23.5,383.0,310.0,6.5,4.0,...,31.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [32]:
data = osa_data_b_csv.drop(['OSA'], axis=1)
target = osa_data_b_csv['OSA']

# 불균형으로 인해 stratify 불가
x_train_b, x_test_b, y_train_b, y_test_b = train_test_split(data, target, test_size=0.2, random_state=42)

In [33]:
osa_train_b = pd.concat([x_train_b, y_train_b], axis=1)
osa_train_b.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),REM sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
4205,4238,0,39,170.0,65.0,22.5,480.5,435.0,2.5,63.0,...,4.2,11.6,8.2,0.0,69.2,87.9,2.3,0.0,0.0,1
1612,1630,0,41,172.0,77.0,26.0,338.5,187.0,3.0,86.5,...,0.0,41.7,19.8,83.4,101.6,38.2,23.7,5.5,0.0,1
2683,2711,0,64,166.0,69.0,25.0,450.0,376.0,8.0,62.0,...,20.7,54.1,42.5,57.4,112.9,79.9,31.9,8.3,0.0,1
652,662,1,58,157.0,56.0,22.7,394.0,371.0,1.0,188.5,...,0.0,51.9,32.1,47.0,62.7,19.2,33.0,8.1,0.0,1
4630,4666,1,29,154.0,50.0,21.1,278.0,252.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [34]:
osa_train_b.to_csv('../data/osa_train_b.csv', index=False)

osa_train_b_csv = pd.read_csv('../data/osa_train_b.csv')
osa_train_b_csv.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),REM sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
0,4238,0,39,170.0,65.0,22.5,480.5,435.0,2.5,63.0,...,4.2,11.6,8.2,0.0,69.2,87.9,2.3,0.0,0.0,1
1,1630,0,41,172.0,77.0,26.0,338.5,187.0,3.0,86.5,...,0.0,41.7,19.8,83.4,101.6,38.2,23.7,5.5,0.0,1
2,2711,0,64,166.0,69.0,25.0,450.0,376.0,8.0,62.0,...,20.7,54.1,42.5,57.4,112.9,79.9,31.9,8.3,0.0,1
3,662,1,58,157.0,56.0,22.7,394.0,371.0,1.0,188.5,...,0.0,51.9,32.1,47.0,62.7,19.2,33.0,8.1,0.0,1
4,4666,1,29,154.0,50.0,21.1,278.0,252.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [35]:
osa_test_b = pd.concat([x_test_b, y_test_b], axis=1)
osa_test_b.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),REM sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
3372,3402,1,35,164.0,56.0,20.8,486.5,452.0,11.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4950,4990,0,41,175.0,92.0,30.0,510.0,492.5,5.0,91.0,...,6.3,16.2,6.6,0.0,79.2,63.6,7.1,0.0,0.0,1
2146,2171,0,54,169.0,82.0,28.7,416.0,312.5,7.0,109.5,...,45.3,50.7,73.2,49.7,65.6,83.8,58.0,30.3,0.0,1
501,508,0,45,180.0,76.0,23.5,375.0,342.5,4.0,132.5,...,0.0,34.0,5.1,24.5,67.6,62.3,4.4,0.7,0.0,1
3418,3448,0,47,174.0,110.0,36.3,222.0,171.0,4.5,62.0,...,108.5,78.7,119.1,52.2,48.5,69.6,112.6,101.1,0.0,1

In [36]:
osa_test_b.to_csv('../data/osa_test_b.csv', index=False)

osa_test_b_csv = pd.read_csv('../data/osa_test_b.csv')
osa_test_b_csv.head()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),REM sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
0,3402,1,35,164.0,56.0,20.8,486.5,452.0,11.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,4990,0,41,175.0,92.0,30.0,510.0,492.5,5.0,91.0,...,6.3,16.2,6.6,0.0,79.2,63.6,7.1,0.0,0.0,1
2,2171,0,54,169.0,82.0,28.7,416.0,312.5,7.0,109.5,...,45.3,50.7,73.2,49.7,65.6,83.8,58.0,30.3,0.0,1
3,508,0,45,180.0,76.0,23.5,375.0,342.5,4.0,132.5,...,0.0,34.0,5.1,24.5,67.6,62.3,4.4,0.7,0.0,1
4,3448,0,47,174.0,110.0,36.3,222.0,171.0,4.5,62.0,...,108.5,78.7,119.1,52.2,48.5,69.6,112.6,101.1,0.0,1

## OSA+control

In [43]:
osa_control_data = data.copy()
osa_control_data.head()

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,1,1,52,0,1,167.0,60.0,21.51,376.5,276.5,...,97.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,65,1,0,166.0,53.0,19.23,513.1,248.0,...,87.0,0.0,0.0,0.0,16.7,NaN,NaN,NaN,NaN,NaN
2,3,0,53,1,0,174.0,74.0,24.44,479.0,421.0,...,87.0,0.0,0.0,0.0,10.7,NaN,NaN,NaN,NaN,NaN
3,4,0,53,1,0,163.0,63.5,23.90,464.0,343.0,...,86.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,55,1,0,150.0,61.0,27.11,464.5,417.0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3

In [45]:
# OSA 이상치 확인
osa_control_data.loc[(osa_control_data['OSA'] != 0) & (osa_control_data['OSA'] != 1)]

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
3570,3571,0,52,999,999,999.0,999.0,999.0,408.1,359.0,...,78.0,23.4,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
# control 이상치 확인
osa_control_data.loc[(osa_control_data['control'] != 0) & (osa_control_data['control'] != 1)]

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
3570,3571,0,52,999,999,999.0,999.0,999.0,408.1,359.0,...,78.0,23.4,10.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
osa_control_data.drop(osa_control_data.loc[(osa_control_data['OSA'] != 0) & (osa_control_data['OSA'] != 1)].index, axis=0, inplace=True)

In [48]:
osa_control_data.loc[(osa_control_data['OSA'] != 0) & (osa_control_data['OSA'] != 1)]

Empty DataFrame
Columns: [ID, sex, age, OSA, control, height, weight, BMI, Time in Bed(min), Total sleep time(min), Sleep latency(min), N2 sleep latency(min), REM sleep latency(min), WASO(min), WASO(%), NON REM/TST(%), N1/TST(%), N2/TST(%), N3/TST(%), REM/TST(%), Total Arousal #, Total Aroual index(/h), Respriratory Arousal #, Respiratory Aroual index(/h), Snore Arousal #, Snore Aroual index(/h), RERA Arousal #, RERA index(/h), Spontaneous Arousal #, Spontaneous Aroual index(/h), Movement Arousal #, Movement Aroual index(/h), REM Arousal index(h), NREM Arousal index(h), sleep efficiency(%), Sleep time on Back(%), Supine Arousal index(h), Lateral Arousal index(h), Central apnea #, Mixed _apnea #, Obstructive apnea #, Total_ apnea #, Total_Apnea_ Index(/h), Supine_Apnea_ Index(/h), Lateral Apnea Index(/h), Total_ Hypopnea#, Total Hypopnea Index(h), Supine_ Hypopnea_index(/h), Lateral_ Hypopnea_index(/h), Total A+H #, Total A+H Index(/h), SUPINE A+H Index(/h), Lateral A+H Index(/h), REM A+H Index(/h), NREM A+H Index(/h), Total- RERA#, Total RERA Index(/h), SUPINE RERA_Index(/h), Lateral RERA_Index(/h), Total- A+H+RERA#, Total_A+H+RERA_ Index(/h), Supine0 A+H+RERA_Index(h), Lateral A+H+RERA_ Index(h), REM A+H+RERA Index(/h), NREM A+H+RERA Index(/h), Apnea_Max_ Length(sec), Hypopnea_Max_ Length(sec), Resp. Arousal /(A+H)(%), Baseline waking SaO2, Baseline sleep SaO2, Lowest SaO2 (%), ODI, 90%ODI, EtCO2 (>50mmHg), Total LMI =PLMI(/h), Total LM Arousal#, Total LM AI(/h), PLM Arousal#, PLM AI(/h), MAI(/h)]
Index: []

[0 rows x 80 columns]

In [49]:
osa_control_data.loc[(osa_control_data['control'] != 0) & (osa_control_data['control'] != 1)]

Empty DataFrame
Columns: [ID, sex, age, OSA, control, height, weight, BMI, Time in Bed(min), Total sleep time(min), Sleep latency(min), N2 sleep latency(min), REM sleep latency(min), WASO(min), WASO(%), NON REM/TST(%), N1/TST(%), N2/TST(%), N3/TST(%), REM/TST(%), Total Arousal #, Total Aroual index(/h), Respriratory Arousal #, Respiratory Aroual index(/h), Snore Arousal #, Snore Aroual index(/h), RERA Arousal #, RERA index(/h), Spontaneous Arousal #, Spontaneous Aroual index(/h), Movement Arousal #, Movement Aroual index(/h), REM Arousal index(h), NREM Arousal index(h), sleep efficiency(%), Sleep time on Back(%), Supine Arousal index(h), Lateral Arousal index(h), Central apnea #, Mixed _apnea #, Obstructive apnea #, Total_ apnea #, Total_Apnea_ Index(/h), Supine_Apnea_ Index(/h), Lateral Apnea Index(/h), Total_ Hypopnea#, Total Hypopnea Index(h), Supine_ Hypopnea_index(/h), Lateral_ Hypopnea_index(/h), Total A+H #, Total A+H Index(/h), SUPINE A+H Index(/h), Lateral A+H Index(/h), REM A+H Index(/h), NREM A+H Index(/h), Total- RERA#, Total RERA Index(/h), SUPINE RERA_Index(/h), Lateral RERA_Index(/h), Total- A+H+RERA#, Total_A+H+RERA_ Index(/h), Supine0 A+H+RERA_Index(h), Lateral A+H+RERA_ Index(h), REM A+H+RERA Index(/h), NREM A+H+RERA Index(/h), Apnea_Max_ Length(sec), Hypopnea_Max_ Length(sec), Resp. Arousal /(A+H)(%), Baseline waking SaO2, Baseline sleep SaO2, Lowest SaO2 (%), ODI, 90%ODI, EtCO2 (>50mmHg), Total LMI =PLMI(/h), Total LM Arousal#, Total LM AI(/h), PLM Arousal#, PLM AI(/h), MAI(/h)]
Index: []

[0 rows x 80 columns]

In [50]:
# 신체 정보 이상치 확인
osa_control_na_data = osa_control_data.loc[(osa_control_data['sex'] == 999) | (osa_control_data['age'] == 999) | (osa_control_data['height'] == 999) | (osa_control_data['weight'] == 999) | (osa_control_data['BMI'] == 999)]
osa_control_na_data

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
412,413,1,65,1,0,100.0,999.0,999.0,378.5,307.5,...,86.0,11.3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1171,1172,0,53,1,0,173.0,54.0,999.0,429.5,351.5,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1508,1509,1,55,0,0,162.0,999.0,999.0,470.5,252.5,...,92.0,1.0,0.0,0.0,22.3,4.0,1.0,3.0,0.7,1.7
1945,1946,0,55,1,0,999.0,999.0,999.0,356.0,328.0,...,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2414,2415,0,69,1,0,999.0,999.0,999.0,455.0,298.0,...,88.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,2892,0,68,1,0,161.0,59.0,999.0,476.5,371.0,...,84.0,21.5,2.5,0.0,23.0,7.0,1.1,11.0,1.8,2.9
3977,3978,0,21,1,0,999.0,999.0,999.0,485.5,402.0,...,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4124,4125,0,68,1,0,999.0,999.0,999.0,426.0,330.0,...,80.0,24.7,10.7,0.0,18.0,8.0,1.5,14.0,2.5,4.0
4896,4897,0,48,1,0,166.0,999.0,999.0,369.0,340.0,...,86.0,12.5,0.2,0.0,4.1,2.0,0.4,4.0,0.7,1.1
4913,4914,0,64,1,0,164.0,67.0,999.0,476.0,427.5,...,72.0,0.0,0.0,0.0,32.3,NaN,NaN,NaN,NaN,NaN

In [51]:
osa_control_data.drop(osa_control_na_data.index, inplace=True)

In [52]:
numerical_osa_control_data = osa_control_data.drop(['OSA', 'control'], axis=1)
numerical_osa_control_data.describe()

,ID,sex,age,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),N2 sleep latency(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
count,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5434.000000,5433.000000,...,5399.000000,5434.000000,5434.000000,5434.000000,5304.000000,5234.000000,5234.000000,5233.000000,5233.000000,5234.000000
mean,2741.785793,0.289290,50.849466,167.407840,71.994774,25.545745,431.505502,355.431634,12.155870,7.429137,...,84.506946,17.982057,6.487413,0.018955,10.511878,1.708254,0.294106,3.955284,0.696914,0.996828
std,1579.979557,0.453474,14.874485,8.795353,14.835601,4.119163,52.742871,66.753848,19.041692,14.070709,...,8.151987,21.881901,15.523981,0.862383,21.078961,4.079506,0.704143,12.609001,2.230413,2.599735
min,1.000000,0.000000,7.000000,123.000000,30.000000,12.400000,96.900000,46.500000,0.000000,0.000000,...,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1375.250000,0.000000,40.000000,162.000000,62.000000,22.910000,403.000000,318.000000,3.000000,1.000000,...,81.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2744.500000,0.000000,53.000000,168.000000,71.000000,25.100000,436.000000,362.000000,6.500000,3.500000,...,86.000000,9.400000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4106.750000,1.000000,62.000000,174.000000,80.000000,27.600000,467.000000,402.500000,13.000000,7.500000,...,90.000000,27.700000,4.600000,0.000000,12.400000,2.000000,0.300000,1.000000,0.200000,0.700000
max,5481.000000,1.000000,91.000000,198.000000,181.000000,57.020000,642.000000,537.500000,303.000000,224.000000,...,99.000000,141.900000,169.400000,44.500000,187.300000,129.000000,21.500000,218.000000,37.500000,38.800000

In [53]:
# 결측치 확인
osa_control_na_columns = osa_control_data.isna().sum()
osa_control_na_columns = osa_control_na_columns[osa_control_na_columns > 0]
osa_control_na_columns

N2 sleep latency(min)      1
WASO(min)                  1
WASO(%)                    1
Spontaneous Arousal #     34
Movement Arousal #         8
Total_ apnea #             3
Total_ Hypopnea#           3
Baseline waking SaO2      22
Baseline sleep SaO2       22
Lowest SaO2 (%)           35
Total LMI =PLMI(/h)      130
Total LM Arousal#        200
Total LM AI(/h)          200
PLM Arousal#             201
PLM AI(/h)               201
MAI(/h)                  200
dtype: int64

### 결측치를 포함하는 record drop

In [54]:
osa_control_data_a = osa_control_data.dropna(axis=0, how="any")

In [56]:
del osa_control_na_columns

osa_control_na_columns = osa_control_data_a.isna().sum()
osa_control_na_columns = osa_control_na_columns[osa_control_na_columns > 0]
osa_control_na_columns

Series([], dtype: int64)

In [57]:
osa_control_data_a.shape

(5152, 80)

In [58]:
osa_control_data_a.to_csv('../data/osa_control_data_a.csv', index=False)

osa_control_data_a_csv = pd.read_csv('../data/osa_control_data_a.csv')
osa_control_data_a_csv.head()

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Lowest SaO2 (%),ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h)
0,5,1,55,1,0,150.0,61.0,27.11,464.5,417.0,...,88.0,0.0,0.0,0.0,3.2,2.0,0.3,0.0,0.0,0.3
1,6,0,48,1,0,174.0,70.0,23.12,490.0,423.0,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,55,1,0,168.0,69.0,24.45,370.0,324.0,...,86.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,1,50,1,0,157.0,59.0,23.94,450.5,360.5,...,83.0,0.0,0.0,0.0,46.8,0.0,0.0,0.0,0.0,0.0
4,9,0,57,1,0,175.0,92.0,30.04,481.5,370.0,...,89.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 결측치를 포함하는 feature drop

In [59]:
osa_control_data_b = osa_control_data.dropna(axis=1, how="any")

In [60]:
del osa_control_na_columns

osa_control_na_columns = osa_control_data_b.isna().sum()
osa_control_na_columns = osa_control_na_columns[osa_control_na_columns > 0]
osa_control_na_columns

Series([], dtype: int64)

In [61]:
osa_control_data_b.shape

(5434, 64)

In [62]:
osa_control_data_b.to_csv('../data/osa_control_data_b.csv', index=False)

osa_control_data_b_csv = pd.read_csv('../data/osa_control_data_b.csv')
osa_control_data_b_csv.head()

,ID,sex,age,OSA,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),...,Supine0 A+H+RERA_Index(h),Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg)
0,1,1,52,0,1,167.0,60.0,21.51,376.5,276.5,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,0,65,1,0,166.0,53.0,19.23,513.1,248.0,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,0,53,1,0,174.0,74.0,24.44,479.0,421.0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,0,53,1,0,163.0,63.5,23.90,464.0,343.0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,1,55,1,0,150.0,61.0,27.11,464.5,417.0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

### train/test split

In [63]:
data = osa_control_data_a_csv.drop(['OSA'], axis=1)
target = osa_control_data_a_csv['OSA']

# 불균형으로 인해 stratify 불가
x_train_a, x_test_a, y_train_a, y_test_a = train_test_split(data, target, test_size=0.2, random_state=42)

In [64]:
osa_control_train_a = pd.concat([x_train_a, y_train_a], axis=1)
osa_control_train_a.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
2025,2170,0,38,0,173.0,88.0,29.4,448.9,434.5,5.5,...,62.6,47.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3319,3539,1,54,0,156.0,49.0,20.1,476.0,426.0,3.0,...,2.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99,108,0,62,0,164.0,67.0,24.9,435.5,351.0,3.5,...,7.4,0.3,0.0,16.8,9.0,1.5,0.0,0.0,1.5,1
2957,3149,0,33,0,175.0,106.0,34.6,404.5,374.5,7.0,...,19.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4581,4893,0,56,0,164.0,72.0,26.8,359.5,236.5,12.5,...,70.5,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [65]:
osa_control_train_a.to_csv('../data/osa_control_train_a.csv', index=False)

osa_control_train_a_csv = pd.read_csv('../data/osa_control_train_a.csv')
osa_control_train_a_csv.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
0,2170,0,38,0,173.0,88.0,29.4,448.9,434.5,5.5,...,62.6,47.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,3539,1,54,0,156.0,49.0,20.1,476.0,426.0,3.0,...,2.4,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,108,0,62,0,164.0,67.0,24.9,435.5,351.0,3.5,...,7.4,0.3,0.0,16.8,9.0,1.5,0.0,0.0,1.5,1
3,3149,0,33,0,175.0,106.0,34.6,404.5,374.5,7.0,...,19.2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4893,0,56,0,164.0,72.0,26.8,359.5,236.5,12.5,...,70.5,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [66]:
osa_control_test_a = pd.concat([x_test_a, y_test_a], axis=1)
osa_control_test_a.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
1879,2021,1,47,0,164.0,55.0,20.4,362.0,343.0,5.5,...,7.5,1.0,0.0,11.4,5.0,0.9,5.0,0.9,1.8,1
1417,1506,0,64,0,175.0,75.0,24.5,395.0,342.0,5.0,...,9.5,0.4,0.0,0.4,2.0,0.4,0.0,0.0,0.4,0
2968,3160,0,34,0,170.0,79.0,27.3,415.0,363.5,7.5,...,5.3,0.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1020,1092,0,66,0,167.0,68.0,24.4,318.0,104.0,21.0,...,67.5,31.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4724,5043,0,60,0,169.0,67.0,23.5,383.0,310.0,6.5,...,31.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [67]:
osa_control_test_a.to_csv('../data/osa_control_test_a.csv', index=False)

osa_control_test_a_csv = pd.read_csv('../data/osa_control_test_a.csv')
osa_control_test_a_csv.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,ODI,90%ODI,EtCO2 (>50mmHg),Total LMI =PLMI(/h),Total LM Arousal#,Total LM AI(/h),PLM Arousal#,PLM AI(/h),MAI(/h),OSA
0,2021,1,47,0,164.0,55.0,20.4,362.0,343.0,5.5,...,7.5,1.0,0.0,11.4,5.0,0.9,5.0,0.9,1.8,1
1,1506,0,64,0,175.0,75.0,24.5,395.0,342.0,5.0,...,9.5,0.4,0.0,0.4,2.0,0.4,0.0,0.0,0.4,0
2,3160,0,34,0,170.0,79.0,27.3,415.0,363.5,7.5,...,5.3,0.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,1092,0,66,0,167.0,68.0,24.4,318.0,104.0,21.0,...,67.5,31.7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,5043,0,60,0,169.0,67.0,23.5,383.0,310.0,6.5,...,31.5,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [68]:
data = osa_control_data_b_csv.drop(['OSA'], axis=1)
target = osa_control_data_b_csv['OSA']

# 불균형으로 인해 stratify 불가
x_train_b, x_test_b, y_train_b, y_test_b = train_test_split(data, target, test_size=0.2, random_state=42)

In [69]:
osa_control_train_b = pd.concat([x_train_b, y_train_b], axis=1)
osa_control_train_b.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
4205,4238,0,39,0,170.0,65.0,22.5,480.5,435.0,2.5,...,4.2,11.6,8.2,0.0,69.2,87.9,2.3,0.0,0.0,1
1612,1630,0,41,0,172.0,77.0,26.0,338.5,187.0,3.0,...,0.0,41.7,19.8,83.4,101.6,38.2,23.7,5.5,0.0,1
2683,2711,0,64,0,166.0,69.0,25.0,450.0,376.0,8.0,...,20.7,54.1,42.5,57.4,112.9,79.9,31.9,8.3,0.0,1
652,662,1,58,0,157.0,56.0,22.7,394.0,371.0,1.0,...,0.0,51.9,32.1,47.0,62.7,19.2,33.0,8.1,0.0,1
4630,4666,1,29,1,154.0,50.0,21.1,278.0,252.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [70]:
osa_control_train_b.to_csv('../data/osa_control_train_b.csv', index=False)

osa_control_train_b_csv = pd.read_csv('../data/osa_control_train_b.csv')
osa_control_train_b_csv.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
0,4238,0,39,0,170.0,65.0,22.5,480.5,435.0,2.5,...,4.2,11.6,8.2,0.0,69.2,87.9,2.3,0.0,0.0,1
1,1630,0,41,0,172.0,77.0,26.0,338.5,187.0,3.0,...,0.0,41.7,19.8,83.4,101.6,38.2,23.7,5.5,0.0,1
2,2711,0,64,0,166.0,69.0,25.0,450.0,376.0,8.0,...,20.7,54.1,42.5,57.4,112.9,79.9,31.9,8.3,0.0,1
3,662,1,58,0,157.0,56.0,22.7,394.0,371.0,1.0,...,0.0,51.9,32.1,47.0,62.7,19.2,33.0,8.1,0.0,1
4,4666,1,29,1,154.0,50.0,21.1,278.0,252.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [71]:
osa_control_test_b = pd.concat([x_test_b, y_test_b], axis=1)
osa_control_test_b.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
3372,3402,1,35,0,164.0,56.0,20.8,486.5,452.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4950,4990,0,41,0,175.0,92.0,30.0,510.0,492.5,5.0,...,6.3,16.2,6.6,0.0,79.2,63.6,7.1,0.0,0.0,1
2146,2171,0,54,0,169.0,82.0,28.7,416.0,312.5,7.0,...,45.3,50.7,73.2,49.7,65.6,83.8,58.0,30.3,0.0,1
501,508,0,45,0,180.0,76.0,23.5,375.0,342.5,4.0,...,0.0,34.0,5.1,24.5,67.6,62.3,4.4,0.7,0.0,1
3418,3448,0,47,0,174.0,110.0,36.3,222.0,171.0,4.5,...,108.5,78.7,119.1,52.2,48.5,69.6,112.6,101.1,0.0,1

In [72]:
osa_control_test_b.to_csv('../data/osa_control_test_b.csv', index=False)

osa_control_test_b_csv = pd.read_csv('../data/osa_control_test_b.csv')
osa_control_test_b_csv.head()

,ID,sex,age,control,height,weight,BMI,Time in Bed(min),Total sleep time(min),Sleep latency(min),...,Lateral A+H+RERA_ Index(h),REM A+H+RERA Index(/h),NREM A+H+RERA Index(/h),Apnea_Max_ Length(sec),Hypopnea_Max_ Length(sec),Resp. Arousal /(A+H)(%),ODI,90%ODI,EtCO2 (>50mmHg),OSA
0,3402,1,35,0,164.0,56.0,20.8,486.5,452.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,4990,0,41,0,175.0,92.0,30.0,510.0,492.5,5.0,...,6.3,16.2,6.6,0.0,79.2,63.6,7.1,0.0,0.0,1
2,2171,0,54,0,169.0,82.0,28.7,416.0,312.5,7.0,...,45.3,50.7,73.2,49.7,65.6,83.8,58.0,30.3,0.0,1
3,508,0,45,0,180.0,76.0,23.5,375.0,342.5,4.0,...,0.0,34.0,5.1,24.5,67.6,62.3,4.4,0.7,0.0,1
4,3448,0,47,0,174.0,110.0,36.3,222.0,171.0,4.5,...,108.5,78.7,119.1,52.2,48.5,69.6,112.6,101.1,0.0,1