In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_excel('../data/ISI,ESS,PSGdata_20220113.xlsx')
df.head()

/var/folders/l6/j5nwgjg11zqbq0y11b2myyb00000gn/T/ipykernel_42282/1673083438.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df = pd.read_excel('../data/ISI,ESS,PSGdata_20220113.xlsx')

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

In [7]:
df.shape

(5481, 140)

In [10]:
print(df.isnull().sum())

ID                       0
PSG_date                 0
PSG_ID                   0
sex                      0
age                      0
                      ...
Total LM \nArousal#    207
Total LM AI(/h)        207
PLM \nArousal#         208
PLM \nAI(/h)           208
MAI(/h)                207
Length: 140, dtype: int64

In [13]:
missings = df.isnull().sum()
missings_cols = []
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)
        missings_cols.append(col)

검사당일수면제
복용여부(Y/N) 	 1059
수면제이름 	 5133
검사당일
음주여부(Y/N) 	 1059
검사당일
음주량 	 5481
N2 sleep
latency(min) 	 1
WASO(min) 	 1
WASO(%) 	 1
Spontaneous
Arousal # 	 35
Movement
Arousal # 	 8
Total_
apnea # 	 3
Total_
Hypopnea# 	 3
Baseline waking
SaO2 	 22
Baseline
sleep SaO2 	 22
Lowest SaO2 (%) 	 35
Lowest
SaO2 Epoch 	 1104
Below90%
SaO2(%) 	 246
Below90%
SaO2(min) 	 246
Arrhythmia(y/n) 	 1059
PVC(y/n) 	 1059
Bradycardia(y/n) 	 1059
Others(y/n) 	 1059
PLM# 	 530
Total
LMI =PLMI(/h) 	 136
Total LM
Arousal# 	 207
Total LM AI(/h) 	 207
PLM
Arousal# 	 208
PLM
AI(/h) 	 208
MAI(/h) 	 207

In [14]:
missings_cols

['검사당일수면제\n복용여부(Y/N)',
 '수면제이름',
 '검사당일\n음주여부(Y/N)',
 '검사당일\n음주량',
 'N2 sleep\nlatency(min)',
 'WASO(min)',
 'WASO(%)',
 'Spontaneous \nArousal #',
 'Movement \nArousal #',
 'Total_\napnea #',
 'Total_\nHypopnea#',
 'Baseline waking \nSaO2',
 'Baseline \nsleep SaO2',
 'Lowest SaO2 (%)',
 'Lowest \nSaO2 Epoch',
 'Below90% \nSaO2(%)',
 'Below90% \nSaO2(min)',
 'Arrhythmia(y/n)',
 'PVC(y/n)',
 'Bradycardia(y/n)',
 'Others(y/n)',
 'PLM#',
 'Total \nLMI =PLMI(/h)',
 'Total LM \nArousal#',
 'Total LM AI(/h)',
 'PLM \nArousal#',
 'PLM \nAI(/h)',
 'MAI(/h)']

# Data B

In [18]:
df_b = df.drop(missings_cols, inplace=False, axis=1)
df_b.head()

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [19]:
df_b.shape

(5481, 112)

In [40]:
idxs_list = {}
for col in df_b.columns:
    idxs = df_b[df_b[col] == 999].index.values.astype(int)
    if len(idxs) != 0:
        idxs_list[col] = idxs

In [44]:
df_b.drop(list(idxs_list.keys()), inplace=True, axis=1)
df_b.head()

,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,0,0,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,2014-12-10,PE141017,0,53,1961-02-28,OSA,0,0,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,0,0,0,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,2015-03-31,PE150253,1,55,1959-12-19,OSA,0,0,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [45]:
df_b.shape

(5481, 72)

In [47]:
df_b.columns

Index(['PSG_date', 'PSG_ID', 'sex', 'age', 'birth', 'Final Diagnosis',
       'PLMD, RLS', 'parasomnia', 'circadian rhythm sleep-wake disorder',
       'Narcolepsy, EDS, Hypersomnia', 'ISI1a', 'ISI1b', 'ISI1c', 'ISI2',
       'ISI3', 'ISI4', 'ISI5', 'Time in \nBed(min)', 'Total sleep\ntime(min)',
       'Sleep\nlatency(min)', 'REM sleep \nlatency(min)', 'NON\nREM/TST(%)',
       'N1/TST(%)', 'N2/TST(%)', 'N3/TST(%)', 'REM/TST(%)', 'Total\nArousal #',
       'Total Aroual \nindex(/h)', 'Respriratory\nArousal #',
       'Respiratory \nAroual index(/h)', 'Snore \nArousal #',
       'Snore Aroual \nindex(/h)', 'RERA \nArousal #', 'RERA \nindex(/h)',
       'Spontaneous \nAroual index(/h)', 'Movement \nAroual index(/h)',
       'NREM Arousal \nindex(h)', 'sleep efficiency(%)',
       'Sleep time \non Back(%)', 'Supine \nArousal index(h)',
       'Lateral \nArousal index(h)', 'Central \napnea #', 'Mixed\n_apnea #',
       'Obstructive \napnea #', 'Total_Apnea_\nIndex(/h)',
       'Supine_Apnea_\nIndex(/h)', 'Lateral Apnea \nIndex(/h)',
       'Total \nHypopnea Index(h)', 'Supine_\nHypopnea_index(/h)',
       'Lateral_\nHypopnea_index(/h)', 'Total \nA+H #',
       'Total A+H \nIndex(/h)', 'SUPINE A+H \nIndex(/h)',
       'Lateral A+H \nIndex(/h)', 'REM A+H \nIndex(/h)',
       'NREM A+H \nIndex(/h)', 'Total-\nRERA#', 'Total \nRERA Index(/h)',
       'SUPINE \nRERA_Index(/h)', 'Lateral \nRERA_Index(/h)',
       'Total-\nA+H+RERA#', 'Total_A+H+RERA_\nIndex(/h)',
       'Supine0\nA+H+RERA_Index(h)', 'Lateral A+H+RERA_\nIndex(h)',
       'REM A+H+RERA \nIndex(/h)', 'NREM A+H+RERA \nIndex(/h)',
       'Apnea_Max_\nLength(sec)', 'Hypopnea_Max_\nLength(sec)',
       'Resp. Arousal\n/(A+H)(%)', 'ODI', '90%ODI', 'EtCO2\n(>50mmHg)'],
      dtype='object')

missing value를 포함한 col은 전부 drop

In [78]:
df_b = df_b.drop(['PSG_date', 'PSG_ID', 'Final Diagnosis'], axis=1)
df_b.to_csv('../data/survey_psg_data_b.csv', index=False)

# Data A

In [71]:
df_a = df.dropna(axis=1, how='all')
df_a.head()

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

In [72]:
df_a.shape

(5481, 139)

In [73]:
missings = df_a.isnull().sum()
missings_cols = []
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)
        missings_cols.append(col)

검사당일수면제
복용여부(Y/N) 	 1059
수면제이름 	 5133
검사당일
음주여부(Y/N) 	 1059
N2 sleep
latency(min) 	 1
WASO(min) 	 1
WASO(%) 	 1
Spontaneous
Arousal # 	 35
Movement
Arousal # 	 8
Total_
apnea # 	 3
Total_
Hypopnea# 	 3
Baseline waking
SaO2 	 22
Baseline
sleep SaO2 	 22
Lowest SaO2 (%) 	 35
Lowest
SaO2 Epoch 	 1104
Below90%
SaO2(%) 	 246
Below90%
SaO2(min) 	 246
Arrhythmia(y/n) 	 1059
PVC(y/n) 	 1059
Bradycardia(y/n) 	 1059
Others(y/n) 	 1059
PLM# 	 530
Total
LMI =PLMI(/h) 	 136
Total LM
Arousal# 	 207
Total LM AI(/h) 	 207
PLM
Arousal# 	 208
PLM
AI(/h) 	 208
MAI(/h) 	 207

In [74]:
df_a = df_a.drop('수면제이름', axis=1)
df_a.head()

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

In [77]:
idxs_list = []
for col in df_a.columns:
    if col == 'ID':
        continue
    na_row = df_a[df_a[col] == 999]
    if len(na_row) != 0:
        idxs_list.append(col)
        print(col, '\t', len(na_row))

OSA 	 1
insomnia 	 1
Catathrenia 	 1
control 	 1
ESS1 	 17
ESS2 	 17
ESS3 	 17
ESS4 	 17
ESS5 	 17
ESS6 	 17
ESS7 	 17
ESS8 	 17
SSQ1 	 3083
SSQ2 	 3116
SSQ3 	 3074
SSQ4 	 3080
SSQ5 	 3084
SSQ6 	 3127
SSQ7 	 3125
SSQ8 	 3087
SSQ9 	 3076
신장 	 5
체중 	 8
BMI 	 12
PSQI 	 1243
ISI 	 1143
SSS 	 1116
ESS 	 1104
HADS-A 	 5199
HADS-D 	 5200
K-BDI2 	 1247
WHO-QOL 	 3703
배둘레 	 1193
엉덩이둘레 	 1195
목둘레
앉은상태 	 1190
목둘레
누운상태 	 1192
머리둘레 	 1193
전날수면시간 	 891
REM Arousal
index(h) 	 1

- PSQI: Pittsburgh Sleep Quality Index
- HADS: Hospital Anxiety and Depression Scale
    - HADS-A: Anxiety
    - HADS-D: Depression
- K-BDI2: Korean-Beck Depression Inventory-II
- WHO-QOL: measuring quality of life

In [68]:
df_a.shape

(5481, 138)

In [70]:
df_a = df_a.drop(['SSQ1', 'SSQ2', 'SSQ3', 'SSQ4', 'SSQ5', 'SSQ6', 'SSQ7', 'SSQ8', 'SSQ9', 'HADS-A', 'HADS-D'])
print(df_a.shape)
df_a.head()

(0, 140)

Empty DataFrame
Columns: [ID, PSG_date, PSG_ID, sex, age, birth, Final Diagnosis, OSA, insomnia, PLMD, RLS, parasomnia, circadian rhythm sleep-wake disorder, Narcolepsy, EDS, Hypersomnia, Catathrenia, control, ESS1, ESS2, ESS3, ESS4, ESS5, ESS6, ESS7, ESS8, ISI1a, ISI1b, ISI1c, ISI2, ISI3, ISI4, ISI5, SSQ1, SSQ2, SSQ3, SSQ4, SSQ5, SSQ6, SSQ7, SSQ8, SSQ9, 신장, 체중, BMI, PSQI, ISI, SSS, ESS, HADS-A, HADS-D, K-BDI2, WHO-QOL, 배둘레, 엉덩이둘레, 목둘레
앉은상태, 목둘레
누운상태, 머리둘레, 전날수면시간, 검사당일수면제
복용여부(Y/N), 수면제이름, 검사당일
음주여부(Y/N), 검사당일
음주량, Time in
Bed(min), Total sleep
time(min), Sleep
latency(min), N2 sleep
latency(min), REM sleep
latency(min), WASO(min), WASO(%), NON
REM/TST(%), N1/TST(%), N2/TST(%), N3/TST(%), REM/TST(%), Total
Arousal #, Total Aroual
index(/h), Respriratory
Arousal #, Respiratory
Aroual index(/h), Snore
Arousal #, Snore Aroual
index(/h), RERA
Arousal #, RERA
index(/h), Spontaneous
Arousal #, Spontaneous
Aroual index(/h), Movement
Arousal #, Movement
Aroual index(/h), REM Arousal
index(h), NREM Arousal
index(h), sleep efficiency(%), Sleep time
on Back(%), Supine
Arousal index(h), Lateral
Arousal index(h), Central
apnea #, Mixed
_apnea #, Obstructive
apnea #, Total_
apnea #, Total_Apnea_
Index(/h), Supine_Apnea_
Index(/h), Lateral Apnea
Index(/h), Total_
Hypopnea#, Total
Hypopnea Index(h), Supine_
Hypopnea_index(/h), ...]
Index: []

[0 rows x 140 columns]