In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../data/SSQ_data.csv')
df.head()

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

In [3]:
df.shape

(5481, 124)

In [4]:
missings = df.isnull().sum()
missings

ID                       0
PSG_date                 0
PSG_ID                   0
sex                      0
age                      0
                      ...
Total LM \nArousal#    207
Total LM AI(/h)        207
PLM \nArousal#         208
PLM \nAI(/h)           208
MAI(/h)                207
Length: 124, dtype: int64

In [5]:
missings_cols = []
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)
        missings_cols.append(col)

검사당일수면제
복용여부(Y/N) 	 1059
수면제이름 	 5133
검사당일
음주여부(Y/N) 	 1059
검사당일
음주량 	 5481
N2 sleep
latency(min) 	 1
WASO(min) 	 1
WASO(%) 	 1
Spontaneous
Arousal # 	 35
Movement
Arousal # 	 8
Total_
apnea # 	 3
Total_
Hypopnea# 	 3
Baseline waking
SaO2 	 22
Baseline
sleep SaO2 	 22
Lowest SaO2 (%) 	 35
Lowest
SaO2 Epoch 	 1104
Below90%
SaO2(%) 	 246
Below90%
SaO2(min) 	 246
Arrhythmia(y/n) 	 1059
PVC(y/n) 	 1059
Bradycardia(y/n) 	 1059
Others(y/n) 	 1059
PLM# 	 530
Total
LMI =PLMI(/h) 	 136
Total LM
Arousal# 	 207
Total LM AI(/h) 	 207
PLM
Arousal# 	 208
PLM
AI(/h) 	 208
MAI(/h) 	 207

In [6]:
df = df.drop(['수면제이름', '검사당일\n음주량'], axis=1)
print(df.shape)
df.head()

(5481, 122)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,NaN
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,NaN,NaN,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3

# Data A

In [7]:
df_a = df.dropna()
print(df_a.shape)
df_a.head()

(4326, 122)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3
12,13,2015-12-15,PE150845,1,58,1957-01-30,PPI,0,1,0,...,N,N,N,62.0,9.4,0.0,0.0,0.0,0.0,0.0
13,14,2015-12-26,PE150877,1,41,1974-12-04,Insomnia,0,1,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,2016-08-20,PE160708,0,52,1963-12-30,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,2016-11-30,PE161046,0,54,1962-09-10,Catathrenia,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
cols_list = []
for col in df_a.columns:
    if col == 'ID':
        continue
    na_row = df_a[df_a[col] == 999]
    if len(na_row) != 0:
        cols_list.append(col)
        print(col, '\t', len(na_row))

SSQ1 	 1989
SSQ3 	 1980
SSQ4 	 1986
SSQ5 	 1990
SSQ6 	 2033
SSQ7 	 2031
SSQ8 	 1993
SSQ9 	 1982
신장 	 1
체중 	 4
BMI 	 5
PSQI 	 172
SSS 	 47
ESS 	 41
HADS-A 	 4050
HADS-D 	 4051
K-BDI2 	 152
WHO-QOL 	 2571
배둘레 	 107
엉덩이둘레 	 109
목둘레
앉은상태 	 104
목둘레
누운상태 	 106
머리둘레 	 107
전날수면시간 	 27
REM Arousal
index(h) 	 1

In [9]:
df_a = df_a.drop(['HADS-A', 'HADS-D', 'WHO-QOL'], axis=1)
print(df_a.shape)
df_a.head()

(4326, 119)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,N,N,N,22.0,3.2,2.0,0.3,0.0,0.0,0.3
12,13,2015-12-15,PE150845,1,58,1957-01-30,PPI,0,1,0,...,N,N,N,62.0,9.4,0.0,0.0,0.0,0.0,0.0
13,14,2015-12-26,PE150877,1,41,1974-12-04,Insomnia,0,1,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,24,2016-08-20,PE160708,0,52,1963-12-30,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26,2016-11-30,PE161046,0,54,1962-09-10,Catathrenia,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
cols_list.remove('HADS-A')
cols_list.remove('HADS-D')
cols_list.remove('WHO-QOL')

In [11]:
idxs_list = []
for col in cols_list:
    idxs_list += list(df_a.loc[df_a[col] == 999].index)

idxs_list = list(set(idxs_list))
print(idxs_list)

[4, 12, 13, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 82, 84, 88, 90, 94, 99, 103, 106, 108, 112, 114, 115, 116, 119, 125, 126, 128, 129, 130, 138, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 230, 231, 232, 233, 242, 245, 246, 252, 261, 262, 263, 266, 269, 273, 280, 284, 285, 292, 295, 298, 307, 310, 312, 315, 318, 360, 362, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 420, 421, 422, 423, 424, 425, 426, 427, 438, 439, 440, 466, 467, 468, 476, 481, 486, 490, 494, 496, 498, 505, 507, 509, 512, 513, 520, 523, 528, 530, 531, 574, 575, 576, 577, 578, 579, 580, 581, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 680, 682, 687, 700, 705, 706, 710, 717, 718, 725, 729, 734, 746, 750, 764, 770, 776, 780, 781, 782, 784, 785, 786, 788, 800, 802, 807, 815, 816, 819, 820, 822, 830, 831, 834, 841, 845, 880, 881, 882, 883, 884, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 996, 997, 999, 1000, 1005, 1011, 1019, 1022, 1023, 1027, 1029, 1032, 1038, 1054, 1060, 1062, 1068, 1072, 1078, 1079, 1084, 1086, 1087, 1088, 1090, 1094, 1095, 1101, 1124, 1129, 1144, 1145, 1155, 1181, 1188, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1317, 1321, 1326, 1335, 1344, 1346, 1349, 1356, 1357, 1358, 1359, 1361, 1366, 1370, 1375, 1393, 1397, 1412, 1417, 1419, 1420, 1421, 1423, 1427, 1428, 1429, 1433, 1436, 1437, 1438, 1442, 1444, 1449, 1450, 1451, 1453, 1458, 1459, 1464, 1467, 1473, 1483, 1484, 1487, 1504, 1508, 1510, 1563, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1722, 1724, 1725, 1733, 1735, 1736, 1761, 1763, 1776, 1789, 1803, 1812, 1820, 1829, 1830, 1831, 1843, 1851, 1852, 1853, 1855, 1856, 1857, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1869, 1875, 1881, 1887, 1888, 1894, 1897, 1902, 1908, 1914, 1943, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120, 2121, 2122, 2123, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2131, 2132, 2133, 2134, 2135, 2136, 2137, 2138, 2139, 2140, 2141, 2142, 2143, 2144, 2145, 2146, 2147, 2148, 2149, 2150, 2151, 2152, 2153, 2154, 2156, 2157, 2158, 2159, 2160, 2161, 2162, 2163, 2164, 2165, 2166, 2167, 2168, 2169, 2176, 2191, 2202, 2207, 2210, 2214, 2215, 2216, 2223, 2227, 2237, 2240, 2241, 2245, 2249, 2253, 2255, 2257, 2260, 2272, 2274, 2276, 2281, 2285, 2289, 2290, 2306, 2309, 2313, 2317, 2319, 2322, 2324, 2326, 2327, 2328, 2329, 2341, 2347, 2349, 2351, 2367, 2371, 2384, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2616, 2632, 2645, 2646, 2647, 2662, 2665, 2666, 2669, 2670, 2674, 2675, 2677, 2680, 2682, 2684, 2694, 2697, 2711, 2717, 2730, 2731, 2734, 2742, 2746, 2748, 2750, 2751, 2752, 2754, 2755, 2756, 2758, 2771, 2780, 2783, 2784, 2786, 2792, 2799, 2801, 2810, 2858, 2867, 2884, 2885, 2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895, 2896, 2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3032, 3038, 3040, 3055, 3068, 3069, 3074, 3081, 3095, 3096, 3109, 3123, 3133, 3134, 3146, 3154, 3156, 3159, 3160, 3162, 3163, 3174, 3185, 3192, 3198, 3204, 3209, 3212, 3215, 3218, 3221, 3227, 3228, 3258, 3306, 3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3327, 3328, 3329, 3330, 3331, 3332, 3333, 3334, 3335, 3336, 3337, 3338, 3339, 3340, 3341, 3343, 3344, 3345, 3346, 3347, 3348, 3349, 3350, 3351, 3352, 3353, 3354, 3355, 3356, 3357, 3358, 3359, 3360, 3361, 3362, 3363, 3364, 3365, 3366, 3367, 3368, 3369, 3371, 3372, 3373, 3374, 3375, 3376, 3377, 3378, 3379, 3380, 3381, 3383, 3384, 3385, 3386, 3387, 3388, 3389, 3390, 3391, 3392, 3393, 3394, 3395, 3396, 3397, 3398, 3399, 3400, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410, 3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421, 3422, 3423, 3424, 3425, 3426, 3428, 3429, 3430, 3433, 3434, 3437, 3444, 3447, 3454, 3456, 3458, 3462, 3466, 3467, 3482, 3487, 3491, 3501, 3504, 3505, 3514, 3515, 3518, 3529, 3532, 3537, 3543, 3546, 3547, 3548, 3549, 3552, 3558, 3562, 3571, 3579, 3580, 3593, 3673, 3674, 3675, 3676, 3677, 3678, 3679, 3680, 3681, 3682, 3683, 3684, 3685, 3686, 3687, 3688, 3689, 3690, 3691, 3692, 3693, 3694, 3695, 3696, 3697, 3698, 3699, 3700, 3701, 3702, 3703, 3704, 3705, 3706, 3707, 3708, 3709, 3710, 3711, 3712, 3713, 3714, 3715, 3716, 3717, 3718, 3719, 3720, 3721, 3722, 3723, 3724, 3725, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759, 3760, 3761, 3762, 3763, 3764, 3765, 3767, 3768, 3769, 3770, 3771, 3772, 3773, 3774, 3775, 3776, 3777, 3778, 3779, 3780, 3781, 3782, 3783, 3784, 3800, 3805, 3816, 3824, 3826, 3827, 3829, 3846, 3855, 3862, 3864, 3870, 3874, 3881, 3885, 3886, 3889, 3893, 3900, 3904, 3924, 3984, 3985, 3986, 3987, 3988, 3989, 3990, 3991, 3992, 3993, 3994, 3995, 3996, 3997, 3998, 3999, 4000, 4001, 4002, 4003, 4004, 4005, 4006, 4007, 4008, 4009, 4010, 4011, 4012, 4013, 4014, 4015, 4016, 4017, 4018, 4019, 4020, 4021, 4022, 4023, 4024, 4025, 4026, 4027, 4028, 4029, 4030, 4031, 4032, 4033, 4034, 4035, 4036, 4037, 4038, 4039, 4040, 4041, 4042, 4043, 4044, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4109, 4111, 4124, 4133, 4139, 4140, 4145, 4160, 4169, 4172, 4194, 4197, 4198, 4203, 4204, 4205, 4215, 4219, 4225, 4227, 4229, 4230, 4240, 4253, 4291, 4292, 4293, 4294, 4295, 4296, 4297, 4298, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350, 4351, 4352, 4353, 4354, 4355, 4356, 4357, 4358, 4359, 4360, 4361, 4362, 4363, 4364, 4365, 4366, 4367, 4368, 4369, 4370, 4371, 4372, 4373, 4378, 4379, 4398, 4413, 4415, 4416, 4434, 4442, 4452, 4453, 4457, 4462, 4464, 4467, 4470, 4475, 4480, 4481, 4483, 4535, 4536, 4537, 4538, 4539, 4540, 4541, 4542, 4543, 4544, 4545, 4546, 4547, 4548, 4549, 4550, 4551, 4552, 4553, 4554, 4555, 4556, 4557, 4558, 4559, 4560, 4561, 4562, 4563, 4564, 4565, 4566, 4567, 4568, 4569, 4570, 4571, 4572, 4573, 4574, 4575, 4576, 4577, 4578, 4579, 4580, 4581, 4582, 4583, 4584, 4585, 4586, 4587, 4588, 4589, 4590, 4591, 4592, 4593, 4594, 4595, 4596, 4597, 4598, 4599, 4600, 4601, 4602, 4603, 4604, 4605, 4606, 4607, 4608, 4609, 4610, 4611, 4612, 4614, 4615, 4616, 4617, 4618, 4619, 4620, 4621, 4639, 4640, 4642, 4654, 4659, 4668, 4669, 4674, 4691, 4698, 4700, 4702, 4703, 4711, 4719, 4728, 4731, 4735, 4736, 4785, 4786, 4787, 4788, 4789, 4790, 4791, 4792, 4793, 4794, 4795, 4796, 4797, 4798, 4799, 4800, 4802, 4803, 4804, 4805, 4806, 4807, 4808, 4809, 4810, 4811, 4812, 4813, 4814, 4815, 4816, 4817, 4818, 4819, 4820, 4821, 4822, 4823, 4824, 4825, 4826, 4827, 4828, 4830, 4831, 4832, 4833, 4834, 4835, 4836, 4837, 4845, 4847, 4848, 4856, 4866, 4869, 4875, 4881, 4887, 4889, 4891, 4896, 4901, 4905, 4906, 4911, 4915, 4916, 4917, 4918, 4919, 4920, 4921, 4958, 4959, 4960, 4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973, 4974, 4975, 4976, 4977, 4978, 4979, 4980, 4981, 4982, 4983, 4984, 4985, 4986, 4988, 4989, 4990, 4991, 4992, 4993, 4994, 4995, 4996, 4997, 4998, 4999, 5000, 5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008, 5009, 5010, 5014, 5017, 5019, 5028, 5030, 5033, 5052, 5057, 5062, 5067, 5069, 5072, 5073, 5075, 5076, 5102, 5103, 5104, 5105, 5106, 5107, 5108, 5109, 5110, 5111, 5112, 5113, 5114, 5115, 5116, 5117, 5118, 5119, 5120, 5121, 5122, 5123, 5124, 5125, 5126, 5127, 5128, 5129, 5130, 5131, 5132, 5133, 5134, 5135, 5137, 5142, 5150, 5152, 5163, 5164, 5173, 5174, 5175, 5189, 5208, 5209, 5210, 5212, 5213, 5214, 5215, 5216, 5217, 5218, 5219, 5220, 5221, 5222, 5223, 5224, 5225, 5226, 5227, 5228, 5229, 5230, 5231, 5232, 5233, 5234, 5235, 5236, 5237, 5238, 5239, 5242, 5253, 5274, 5283, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312, 5313, 5314, 5315, 5316, 5317, 5318, 5319, 5320, 5321, 5322, 5323, 5324, 5325, 5326, 5338, 5345, 5352, 5355, 5356, 5361, 5362, 5367, 5379, 5380, 5381, 5382, 5383, 5384, 5385, 5386, 5387, 5388, 5389, 5398, 5399, 5403, 5417, 5418, 5419, 5420, 5421, 5422, 5423, 5424, 5426, 5442, 5443, 5444, 5445, 5446, 5447, 5448, 5449, 5450, 5451, 5463, 5464, 5465, 5466, 5467, 5468, 5469, 5470, 5471, 5472, 5477, 5479, 5480]

In [12]:
df_a = df_a.drop(idxs_list)
print(df_a.shape)
df_a.head()

(1947, 119)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
77,78,2018-12-07,PE181146,0,60,1958-11-04,OSA,1,0,0,...,Y,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,80,2018-12-10,PE181160,1,80,1938-10-20,OSA,1,0,0,...,Y,N,N,617.0,144.3,0.0,0.0,21.0,4.9,4.9
80,81,2018-12-24,PE181223,0,65,1952-12-28,OSA,1,0,0,...,N,N,N,80.0,17.4,1.0,0.2,0.0,0.0,0.2
81,82,2019-01-07,PE190025,0,14,2004-06-14,snoring,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,84,2019-01-30,PE190125,0,57,1961-12-07,OSA,1,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df_a = df_a.drop(['ID', 'PSG_date', 'PSG_ID', 'Final Diagnosis'], axis=1)
print(df_a.shape)
df_a.head()

(1947, 115)

,sex,age,birth,OSA,insomnia,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",Catathrenia,...,PVC(y/n),Bradycardia(y/n),Others(y/n),PLM#,Total \nLMI =PLMI(/h),Total LM \nArousal#,Total LM AI(/h),PLM \nArousal#,PLM \nAI(/h),MAI(/h)
77,0,60,1958-11-04,1,0,0,0,0,0,0,...,Y,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,1,80,1938-10-20,1,0,0,0,0,0,0,...,Y,N,N,617.0,144.3,0.0,0.0,21.0,4.9,4.9
80,0,65,1952-12-28,1,0,0,0,0,0,0,...,N,N,N,80.0,17.4,1.0,0.2,0.0,0.0,0.2
81,0,14,2004-06-14,0,0,0,0,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,0,57,1961-12-07,1,0,0,0,0,0,0,...,N,N,N,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_a.to_csv('../data/ssq_data_a.csv', index=False)

In [15]:
missings = df_a.isnull().sum()
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)

In [16]:
for col in df_a.columns:
    na_row = df_a[df_a[col] == 999]
    if len(na_row) != 0:
        print(col, '\t', len(na_row))

In [17]:
for col in df_a.columns:
    print(col)

sex
age
birth
OSA
insomnia
PLMD, RLS
parasomnia
circadian rhythm sleep-wake disorder
Narcolepsy, EDS, Hypersomnia
Catathrenia
control
SSQ1
SSQ2
SSQ3
SSQ4
SSQ5
SSQ6
SSQ7
SSQ8
SSQ9
신장
체중
BMI
PSQI
SSS
ESS
K-BDI2
배둘레
엉덩이둘레
목둘레
앉은상태
목둘레
누운상태
머리둘레
전날수면시간
검사당일수면제
복용여부(Y/N)
검사당일
음주여부(Y/N)
Time in
Bed(min)
Total sleep
time(min)
Sleep
latency(min)
N2 sleep
latency(min)
REM sleep
latency(min)
WASO(min)
WASO(%)
NON
REM/TST(%)
N1/TST(%)
N2/TST(%)
N3/TST(%)
REM/TST(%)
Total
Arousal #
Total Aroual
index(/h)
Respriratory
Arousal #
Respiratory
Aroual index(/h)
Snore
Arousal #
Snore Aroual
index(/h)
RERA
Arousal #
RERA
index(/h)
Spontaneous
Arousal #
Spontaneous
Aroual index(/h)
Movement
Arousal #
Movement
Aroual index(/h)
REM Arousal
index(h)
NREM Arousal
index(h)
sleep efficiency(%)
Sleep time
on Back(%)
Supine
Arousal index(h)
Lateral
Arousal index(h)
Central
apnea #
Mixed
_apnea #
Obstructive
apnea #
Total_
apnea #
Total_Apnea_
Index(/h)
Supine_Apnea_
Index(/h)
Lateral Apnea
Index(/h)
Total_
Hypopnea#
Total
Hypopnea Index(h)
Supine_
Hypopnea_index(/h)
Lateral_
Hypopnea_index(/h)
Total
A+H #
Total A+H
Index(/h)
SUPINE A+H
Index(/h)
Lateral A+H
Index(/h)
REM A+H
Index(/h)
NREM A+H
Index(/h)
Total-
RERA#
Total
RERA Index(/h)
SUPINE
RERA_Index(/h)
Lateral
RERA_Index(/h)
Total-
A+H+RERA#
Total_A+H+RERA_
Index(/h)
Supine0
A+H+RERA_Index(h)
Lateral A+H+RERA_
Index(h)
REM A+H+RERA
Index(/h)
NREM A+H+RERA
Index(/h)
Apnea_Max_
Length(sec)
Hypopnea_Max_
Length(sec)
Resp. Arousal
/(A+H)(%)
Baseline waking
SaO2
Baseline
sleep SaO2
Lowest SaO2 (%)
Lowest
SaO2 Epoch
Below90%
SaO2(%)
Below90%
SaO2(min)
ODI
90%ODI
EtCO2
(>50mmHg)
Arrhythmia(y/n)
PVC(y/n)
Bradycardia(y/n)
Others(y/n)
PLM#
Total
LMI =PLMI(/h)
Total LM
Arousal#
Total LM AI(/h)
PLM
Arousal#
PLM
AI(/h)
MAI(/h)

# Data B

In [18]:
df.shape

(5481, 122)

In [19]:
df_b = df.dropna(axis=1, how='any')
print(df_b.shape)
df_b.head()

(5481, 96)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,OSA,insomnia,"PLMD, RLS",...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,1,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,1,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,1,1,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,1,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [21]:
cols_list = []
for col in df_b.columns:
    if col == 'ID':
        continue
    if 'SSQ' in col:
        continue
    na_row = df_b[df_b[col] == 999]
    if len(na_row) != 0:
        cols_list.append(col)
        print(col, '\t', len(na_row))

OSA 	 1
insomnia 	 1
Catathrenia 	 1
control 	 1
신장 	 5
체중 	 8
BMI 	 12
PSQI 	 1243
SSS 	 1116
ESS 	 1104
HADS-A 	 5199
HADS-D 	 5200
K-BDI2 	 1247
WHO-QOL 	 3703
배둘레 	 1193
엉덩이둘레 	 1195
목둘레
앉은상태 	 1190
목둘레
누운상태 	 1192
머리둘레 	 1193
전날수면시간 	 891
REM Arousal
index(h) 	 1

In [22]:
df_b = df_b.drop(cols_list, axis=1)
print(df_b.shape)
df_b.head()

(5481, 75)

,ID,PSG_date,PSG_ID,sex,age,birth,Final Diagnosis,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,2014-12-10,N14005,1,52,1962-02-26,sleep talking,0,0,0,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,2,2014-12-10,PE141015,0,65,1948-12-17,RLS/OSA,1,0,0,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,3,2014-12-10,PE141017,0,53,1961-02-28,OSA,0,0,0,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,4,2014-12-10,PE141014,0,53,1961-06-01,OSA/PPI,0,0,0,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,5,2015-03-31,PE150253,1,55,1959-12-19,OSA,0,0,0,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [23]:
df_b = df_b.drop(['ID', 'PSG_date', 'PSG_ID', 'Final Diagnosis'], axis=1)
print(df_b.shape)
df_b.head()

(5481, 71)

,sex,age,birth,"PLMD, RLS",parasomnia,circadian rhythm sleep-wake disorder,"Narcolepsy, EDS, Hypersomnia",SSQ1,SSQ2,SSQ3,...,Supine0\nA+H+RERA_Index(h),Lateral A+H+RERA_\nIndex(h),REM A+H+RERA \nIndex(/h),NREM A+H+RERA \nIndex(/h),Apnea_Max_\nLength(sec),Hypopnea_Max_\nLength(sec),Resp. Arousal\n/(A+H)(%),ODI,90%ODI,EtCO2\n(>50mmHg)
0,1,52,1962-02-26,0,0,0,0,999,999,999,...,0.4,0.0,0.0,0.0,0.0,42.7,100.0,0.0,0.0,0.0
1,0,65,1948-12-17,1,0,0,0,999,999,999,...,20.9,0.0,0.0,0.0,70.6,61.4,90.2,0.0,0.0,0.0
2,0,53,1961-02-28,0,0,0,0,999,999,999,...,45.8,0.0,0.0,0.0,57.7,93.4,73.1,0.0,0.0,0.0
3,0,53,1961-06-01,0,0,0,0,999,999,999,...,26.8,0.0,0.0,0.0,22.7,89.9,78.2,0.0,0.0,0.0
4,1,55,1959-12-19,0,0,0,0,999,999,999,...,15.4,2.1,0.0,0.0,15.2,47.7,28.2,0.0,0.0,0.0

In [25]:
for col in df_b.columns:
    na_row = df_b[df_b[col] == 999]
    if len(na_row) != 0:
        df_b = df_b.drop(na_row.index, axis=0)

In [26]:
df_b.to_csv('../data/ssq_data_b.csv', index=False)

In [27]:
missings = df_b.isnull().sum()
for col, value in missings.iteritems():
    if value != 0:
        print(col, "\t", value)

In [28]:
for col in df_b.columns:
    na_row = df_b[df_b[col] == 999]
    if len(na_row) != 0:
        print(col, '\t', len(na_row))